<div class="container mt-5">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="/" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				Order List
			</span>
		</div>
	</div>
		

	<!-- Shoping Cart -->
	
		<div class="container mt-5">
			<div class="row">
				<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
					<div class=" m-r--38 m-lr-0-xl">
						<div class="wrap-table-shopping-cart">
							 
							 
							    
							<table class="table-shopping-cart">
								<tr class="table_head">
									<th class="column-1">Product</th>
									<th class="column-2"></th>
									<th class="column-3">Price</th>
									<th class="column-4 text-center">Quantity</th>
									<th class="column-5">Remove</th>
									
								</tr>
                               {{#each products}}
								<tr class="table_row">
                                   
									<td class="column-1">
										<div class="how-itemcart1">
											<img src="/images/{{this.product._id}}_1.jpg" alt="IMG">
										</div>
									</td>
									<td class="column-2">{{this.product.Pro-name}}</td>
									<td class="column-3">{{this.product.price}}</td>

									<td class="column-4 text-center">
									{{this.quantity}}
									
									</td>
                                    <td class="column-5 text-center"><button type="button" class="btn btn-danger m-2" ><a href="/order-product-delete/{{this.product._id}}/{{this._id}}" class="text-decoration-none"> Remove</button></a></td>
								</tr>
                                {{/each}}
							</table>
							</div>
						</div>
                       
						<div class=" bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm d-flex m-lr-0-xl" style="width: 708px;" >
							
							
							<a href="/product" class="text-decoration-none cartxe">
							<button class=" stext-101 cl0 px-3 py-2 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer ml-3 my-2 ">
                                Continue Shopping
							</button></a>
							
							 
						</div>
					</div>
				</div>

			</div>
		</div>
	
	